@import url('https://use.typekit.net/qzu8qnj.css');

body {
    font-family: "museo-sans", sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* font size */
    --font-xxxs: 0.334em; /*5.35pt*/
    --font-xxs: 0.541em; /*8.65pt*/
    --font-xs: 0.875em; /*14pt*/
    --font-mobile-sm: 1.2em;
    --font-sm: 1.416em; /*22.66pt*/
    --font-med: 2.291em; /*36.66pt*/
    --font-lg: 3.708em; /*59.32pt*/
    --font-xl: 6em; /*95.98pt*/
    --font-xxl: 9.706em; /*155.29pt*/
    --font-xxxl: 15.704em; /*251.26pt*/

    /* colors */
    --main-foreground: #f8f8f8;
    --main-color: #d2bb94;
    --main-color-dark: #483F3C;
    --secondary-color: #BFA87E;
    --hover-color: #E3D5BB;
    --hover-secondary-color: #808080;
    --main-background: #383737;
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

input, select, textarea {
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    outline: none;
    min-inline-size: 100%;
    color: var(--main-foreground);
    font-size: var(--font-xs);
    border-bottom: var(--main-foreground) 2px solid;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

h1 {
    font-size: var(--font-xl);
    line-height: 1.2;
    font-weight: 500;
    color: var(--main-color);
    margin-bottom: 8px;
}

h2 {
    font-size: var(--font-lg);
    line-height: 1.2;
    font-weight: 500;
    color: var(--main-color);
    margin-bottom: 8px;
}

p {
    font-size: var(--font-med);
    line-height: 1.5;
    font-weight: 300;
    color: var(--main-foreground);
    margin-bottom: 24px;
}

em {
    font-weight: 500;
    font-style: normal;
}

a {
    color: var(--secondary-color);
    overflow-wrap: break-word;
}

li {
    color: #f8f8f8;
    font-size: var(--font-med);
}

li:not(:last-child) {
    padding-bottom: 1.5em;
}

li::marker {
    content: none;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    background-color: var(--main-background);
    overflow: hidden;
}

.content {
    margin-left: auto;
    margin-right: auto;
}

.app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    font-size: 0.875em;
    font-weight: 500;
    color: var(--main-foreground);
    transition: 0.3s ease-in-out;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation a {
    position: relative;
    text-decoration: none;
    font-size: var(--font-med);
    font-weight: 700;
    color: whitesmoke;
}

.section-hero {
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: url("../images/pexels-mahadee-hasan-15849037.jpg");
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    overflow: hidden;
}

.display-section {
    display: flex;
    width: 100%;
    padding: 5em;
}

.display-section p {
    max-width: 1000px;
}

.container__hero {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    padding: 15% 0;
    width: 100%;
    max-width: 870px;
}

.title__hero{
    max-width: 800px;
}

.paragraph__hero__1 p {
    margin-bottom: 20px;
    max-width: 800px;
}

.minimal-button {
    position: relative;
    font-size: var(--font-mobile-sm);
    font-weight: 500;
    color: var(--main-foreground);
    border-radius: 50px;
    padding: 13px 26px;
    margin-bottom: 44px;
    cursor: pointer;
    overflow: hidden;
    background-color: transparent;
    border: 1px solid var(--main-foreground);
    transition: background-color .3s;
}

.minimal-button:hover {
    background-color: var(--main-foreground);
    color: var(--main-background);
}